

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.frame{
	height:20px;
	clear:both;
}
.frame div{
	height:20px;
	width:6.25%;
	float:left;
	border:solid 2px #fff;
}

#popUpMenu{
	position:absolute;
	height:200px;
	width:200px;
	display:none;
	background:white;
}

.dropdown {
	position: relative;
	float:left;
	margin-left: 5px;
}

.btn {
	position: relative;
	float:left;
}



