body {
	padding-top: 5px;
	padding-bottom: 66px;
	background: #212122;
}

.nav {
	position: fixed;
	width: 100%;
}

.topnav {
	top:0;
	border-top: 5px solid white;
	z-index: 1001;
}

.bottomnav {
	bottom: 0;
	border-bottom: 5px solid white;
	z-index:1005;
}

#scalablePreviewWindow{
	min-height: 100px;
	background: url(../img/static_tower.png) no-repeat center center;
}

.ui-resizable-s{
	background-image: url(../img/handle.png);
	background-repeat:repeat-x;
	height: 14px !important;
}

.container{
	min-width:400px;
}

#scalablePreviewWindow {
	float: left;
	width: 211px;
	height: 211px;
	border-radius: 105px;
	border: 5px solid #fff;
	overflow: hidden;
	margin-right: 13px;
	margin-top: -33px;
	z-index: 1002;
	position: relative;
}

#scalablePreviewWindow.fullscreen {
	border-radius: 0;
	border: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
}

#previewCircleWindow {
	width: 97px;
	height: 97px;
	border-radius: 48px;
	overflow: hidden;
}

#previewCircleWindowContainer {
	float: left;
	margin-top: 31px;
	margin-left:0px;
	z-index: 1000;
	position: relative;
	overflow: hidden;
	padding: 0;
	height: 100px;
	width: 331px;
	background: url(../img/title.png) no-repeat;
}

.mode-xs #previewCircleWindowContainer {
	margin-top: 13px;
	margin-left: 13px;
}

#buttonBar{
	float:left;
	height:30px;
}

#loadSceneContainer {
	float: left;
	position: relative;
}

#showSettingBtn{
	position:absolute;
	top:5px;
	right:5px;
}

#openColorSelectBtn, #loadImageBtn {
	float: right;
	margin-right: 13px;
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-style: solid;
	border-color: white;
	border-width: 5px;
	border-top: 0;
	background: white;
	margin-top: -5px;
	color: #222222;
	padding: 0;
}

#loadImageBtn {
	float: right;
	margin-right: 13px;
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-style: solid;
	border-color: white;
	border-width: 5px;
	border-top: 0;
	background: white;
	margin-top: -5px;
	color: #222222;
	padding: 13px;
}

#openColorSelectBtn span {
	display: inline-block;
	border-bottom-right-radius: 13px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	background: white;
	color: #222222;
	padding: 13px 42px 13px 13px;

	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

}

#reloadPageBtn, #loadSceneFilesBtn {
	float: left;
	margin-right:13px;
}

#reloadPageBtn {
	margin-left: 13px;
}

#viewModeBtn, #editModeBtn, #openSaveDialogBtn {
	float: right;
	margin-left:13px;
}

#viewModeBtn, #openSaveDialogBtn {
	margin-right: 13px;
}

#viewModeBtn, #openSaveDialogBtn {
	font-weight: bold;
}

#viewModeBtn, #reloadPageBtn, #loadSceneFilesBtn, #editModeBtn, #openSaveDialogBtn {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	border: none;
	padding: 13px;
	background: white;
	margin-bottom: 0;
}

#readyEditingBtns, #showSettingBtn {
	display: none;
}

.spacerdiv{
	height:10px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.windowContainer div{
	height:20px;
	width:6.25%;
	float:left;
	border:solid 1px #fff;
}
.lastSelectedColor{
	border:solid 1px #000;
}

#colorPicker{
	position:absolute;
	display:none;
	background:white;
	height:150px;
	width:235px;
	z-index:1010;
}

.dropdown {
	position: relative;
	float:left;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.btn {
	position: relative;
	float:left;
	margin-left: 5px;
}
a.btn-xs {
	margin-top: 5px;
	height: 18px;
}

.col-xs-1, .col-xs-2 {
	padding: 0;
}

.modal-body {
	height: auto;
}

.trans_duration {
	width: 100%;
}

.hidden_div {
     display:none;
}

.ui-icon-trash{
	margin-left:10%;
}

.f_right{
  float:right;
}

.f_left{
  float:left;
}

.small_time
{
	font-size: 10px;
	font-style: normal;
}
#create_lines_tf
{
	width: 50px;
}

.frame .row {
	background: rgba(255,255,255,0.6);
	padding: 0 5px;
}

#storyboard li:first-child .row {
	padding-top: 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#storyboard li:last-child .row {
	padding-bottom: 5px;
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
}

.mode-xs #storyboard li:first-child .row, .mode-xs #storyboard li:last-child .row {
	border-radius: 0;
}

#windowVector {
	padding-right: 55px;
	padding-left: 55px;
	padding-top: 15px;
	float: left;
	min-height:40px;
	width:100%;
}

.window {
	min-height:40px;
	width: 6.25%;
	float: left;
	border:1px solid;
}

#loadImagePreview {
	max-width: 100%;
	max-height: 200px;
}