

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.frame{
	height:20px;
	clear:both;
}
.frame div{
	height:20px;
	width:6.1%;
	float:left;
	border:solid 2px #fff;
}

#popUpMenu{
	position:absolute;
	height:150px;
	width:200px;
	display:none;
	background:white;
}

.dropdown {
	position: relative;
	float:left;
}

.btn {
	position: relative;
	float:left;
	margin-left: 5px;
}
a.btn-xs {
	margin-top: 5px;
	height: 18px;
}
.modal-body {
	height: auto;
}

.trans_duration {
	width: 100%;
}