body {
	padding-top: 5px;
	padding-bottom: 20px;
	background: black;
}

.ui-resizable-s{
	background-image: url(../img/handle.png);
	background-repeat:repeat-x;
	height: 14px !important;
}

.container{
	min-width:400px;
}

#scalablePreviewWindow {
	float: left;
	width: 211px;
	height: 211px;
	border-radius: 105px;
	border: 3px solid #2da1e3;
	overflow: hidden;
	margin-right: 13px;
}

#previewCircleWindow {
	float: left;
	width: 131px;
	height: 131px;
	border-radius: 65px;
	border: 3px solid #2da1e3;
	margin-top: 70px;
}

#buttonBar{
	float:left;
	height:30px;
}
#showSettingBtn{
	position:absolute;
	top:5px;
	right:5px;
}

.spacerdiv{
	height:10px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.windowContainer div{
	height:20px;
	width:6.25%;
	float:left;
	border:solid 1px #fff;
}
.lastSelectedColor{
	border:solid 1px #000;
}

#colorPicker{
	position:absolute;
	display:none;
	background:white;
	height:150px;
	width:235px;
	z-index:9999;
}

.dropdown {
	position: relative;
	float:left;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.btn {
	position: relative;
	float:left;
	margin-left: 5px;
}
a.btn-xs {
	margin-top: 5px;
	height: 18px;
}
.modal-body {
	height: auto;
}

.trans_duration {
	width: 100%;
}

.hidden_div {
     display:none;
}

.ui-icon.white { background-image: url(jqueryUi/images/ui-icons_ffffff_256x240.png); }
.ui-icon.red { background-image: url(jqueryUi/images/ui-icons_cd0a0a_256x240.png); }
.ui-icon.blue { background-image: url(jqueryUi/images/ui-icons_228ef1_256x240.png); }

.ui-icon-trash{
	margin-left:10%;
}

.f_right{
  float:right;
}

.f_left{
  float:left;
}

.small_time
{
	font-size: 10px;
	font-style: normal;
}
#create_lines_tf
{
	width: 50px;
}

.frame .row {
	background: rgba(255,255,255,0.6);
	padding: 0 5px;
}

#storyboard li:first-child .row {
	padding-top: 5px;
}

#storyboard li:last-child .row {
	padding-bottom: 5px;
}