body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.storyboard li.frame {
  position: relative;
  list-style-type: none;
  /** More li styles **/
}
ol.storyboard li.frame:before {
  position: absolute;
  list-style-type: none;
  /** Define arrowhead **/
}

.icon-move {
  float:left;
}

ol.vertical {
  margin: 0 0 9px 0;
  min-height: 10px; }
  ol.vertical li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #eeeeee; }
  ol.vertical li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none; }
    ol.vertical li.placeholder:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      margin-top: -5px;
      left: -5px;
      top: -4px;
      border: 5px solid transparent;
      border-left-color: red;
      border-right: none; }

ol {
  list-style-type: none; }
  ol i.icon-move {
    cursor: pointer; }
  ol li.highlight {
    background: #333333;
    color: #999999; }
    ol li.highlight i.icon-move {
      background-image: url("../img/glyphicons-halflings-white.png"); }

ol.nested_with_switch, ol.nested_with_switch ol {
  border: 1px solid #eeeeee; }
  ol.nested_with_switch.active, ol.nested_with_switch ol.active {
    border: 1px solid #333333; }

ol.nested_with_switch li, ol.simple_with_animation li, ol.serialization li, ol.default li {
  cursor: pointer; }