body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.storyboard li.frame {
  position: relative;
  list-style-type: none;
  /** More li styles **/
}
ol.storyboard li.frame:before {
  position: absolute;
  list-style-type: none;
  /** Define arrowhead **/
}

.icon-move {
  float:left;
}