.f_left{
  float:left;
}

.sceneNameSpace{
	width: 180px;
}

.padLeft{
	margin-left: 50px
}

.col {
    box-sizing: border-box;
    float: left;
    padding: 10px;
    margin-left: 2%;
}
.col:first-child {
    margin-left: 0;
}

